<!--Using the Teacher model class-->﻿
@model CumulativeOne.Models.Teacher

@{
    ViewBag.Title = "Teacher Details";
}

<!--Link to go back to the teachers list-->
<a class="btn btn-success mb-5" href="/Teacher/List">Back To Teachers</a>

<!--Container to display the details of the teacher-->
<div class="container mt-2 mb-5">
    <div class="card w-50">
        <h5 class="card-header"><span class="fw-bold">Employee no:</span> @Model.EmpNumber</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h5 class="card-title text-danger fs-3 pb-3">@Model.TeacherFname @Model.TeacherLname</h5>
                </div>

                <!--Delete Teacher-->
                <div class="col-md-2 d-flex justify-content-end align-items-center">
                    <a href="/Teacher/DeleteConfirm/@Model.TeacherId" class="btn btn-danger">Delete</a>
                </div>

                <!--Update Teacher-->
                <div class="col-md-2 d-flex justify-content-start align-items-center">
                    <a href="/Teacher/Update/@Model.TeacherId" class="btn btn-primary">Update</a>
                </div>
            </div>
            <p class="card-text"><span class="fw-bold">Teacher ID:</span> @Model.TeacherId</p>
            <p class="card-text"><span class="fw-bold">Hire date:</span> @Model.HireDate</p>
            <p class="card-text"><span class="fw-bold">Salary:</span> @Model.Salary</p>
            <a href="#" class="btn btn-primary">Contact</a>

            <!--Link to update a teacher using AJAX-->
            <div class="col-md-12 d-flex justify-content-start align-items-center mt-3">
                <a class="btn btn-secondary" href="/Teacher/AjaxUpdate/@Model.TeacherId">AJAX Update</a>
            </div>
        </div>
    </div>
</div>