<!--Using the Student model class-->﻿
@model CumulativeOne.Models.Student


@{
    ViewBag.Title = "Student Details";
}


<!--Link to go back to the students list-->
<a class="btn btn-success mb-5" href="/Student/List">Back To Students</a>

<!--Container to display the details of the student-->
<div class="container mt-2 mb-5">
    <div class="card w-50">
        <h5 class="card-header"><span class="fw-bold">Student no:</span> @Model.StdNumber</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h5 class="card-title text-danger fs-3 pb-3">@Model.StudentFname @Model.StudentLname</h5>
                </div>

                <!--Delete Student-->
                <div class="col-md-2 d-flex justify-content-end align-items-center">
                    <a href="/Student/DeleteConfirm/@Model.StudentId" class="btn btn-danger">Delete</a>
                </div>

                <!--Update Student-->
                <div class="col-md-2 d-flex justify-content-start align-items-center">
                    <a href="/Student/Update/@Model.StudentId" class="btn btn-primary">Update</a>
                </div>
            </div>
            <p class="card-text"><span class="fw-bold">Student ID:</span> @Model.StudentId</p>
            <p class="card-text"><span class="fw-bold">Enroll date:</span> @Model.EnrollDate</p>
            <a href="#" class="btn btn-primary">Contact</a>
        </div>
    </div>
</div>